@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,900");
body {
  font-size: 16px; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif; }

.logo {
  width: 60%;
  display: block;
  margin: 0 auto 50px auto; }

.content {
  position: fixed;
  top: 0;
  height: calc(100vh - 50px);
  width: 78vw;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  padding: 30px 0 50px 0;
  overflow-y: auto; }

.menu {
  top: 0;
  position: fixed;
  height: 100vh;
  color: white;
  left: 0;
  width: 22vw;
  background-color: #181a20;
  padding-top: calc(30px + 1%);
  transition: width 500ms; }

.navigation {
  height: 100%;
  list-style-type: none; }

.breadcrumbs {
  color: rgba(144, 40, 20, 0.9);
  font-weight: 900;
  font-size: 0.7em;
  min-width: 200px;
  margin-left: 2vw; }

.arrow:before {
  padding: 0 10px;
  content: '\2192';
  color: #393e4c; }

.breadcrumbs_all, .breadcrumbs_item {
  cursor: pointer; }
  .breadcrumbs_all:hover, .breadcrumbs_item:hover {
    color: #C51F00; }

.list_item {
  margin: 25px 0;
  font-size: 1em;
  font-weight: 300;
  cursor: pointer;
  min-width: 200px;
  margin-left: 2vw; }
  .list_item:hover {
    font-weight: 900; }

.course {
  background-color: #EBEBEB;
  height: 25%;
  width: 30%;
  margin: 1%;
  box-shadow: 0 8px 12px -4px rgba(0, 0, 0, 0.15);
  transition: all 0.5s; }
  .course:hover {
    box-shadow: 0 10px 12px -4px rgba(0, 0, 0, 0.3); }

.active_category {
  font-weight: 900; }
  .active_category:before {
    content: '\203A';
    padding-right: 10px; }

.vertical_name {
  display: inline-block;
  background-color: rgba(144, 40, 20, 0.9);
  color: white;
  float: right;
  padding: 3px 10px;
  margin-top: 15px; }

.course_info {
  padding: 20px;
  margin-top: 30px; }
  .course_info p {
    font-size: 1em; }
  .course_info h2 {
    font-size: 1.5em; }

.mobile_header {
  display: none; }

.burger_menu {
  float: right;
  width: 30px; }
  .burger_menu path {
    fill: white; }

@media (min-width: 1600px) {
  .list_item, .vertical_name, .course_info p {
    font-size: 1.5em; }
  .course_info h2 {
    font-size: 2em; }
  .breadcrumbs {
    font-size: 1em; }
  .course_info {
    margin-top: 40px; } }

@media (max-width: 1150px) {
  .list_item, .vertical_name, .course_info p {
    font-size: 0.7em; }
  .course_info h2 {
    font-size: 1em; }
  .breadcrumbs {
    font-size: 0.5em; }
  .arrow:before {
    padding: 0 5px; } }

@media (max-width: 700px) {
  .mobile_header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 88vw;
    background-color: #181a20;
    padding: 0 6vw; }
    .mobile_header .logo {
      margin: 0;
      width: 130px;
      display: inline-block; }
  .breadcrumbs, .list_item {
    margin-left: 8vw; }
  .content {
    width: 100%;
    top: 58px;
    padding: 10px 0 15vh;
    overflow-y: scroll;
    height: calc(100vh - 23vh); }
  .menu {
    width: 0vw;
    top: 45px;
    z-index: 1;
    visibility: hidden;
    overflow: hidden; }
    .menu .logo {
      display: none; }
  .menu.slideIn {
    width: 100vw; }
  .menu.slideOut {
    width: 0vw; }
  .menu.show {
    visibility: visible; }
  .course {
    width: 45%;
    height: auto; } }

@media (max-width: 540px) {
  .course {
    width: 90%;
    margin: 2%;
    height: 35%; }
  .list_item, .vertical_name, .course_info p {
    font-size: 1em; }
  .course_info h2 {
    font-size: 1.5em; }
  .breadcrumbs {
    font-size: 0.7em; }
  .course_info {
    margin-top: 20px; } }
